.header {
  background-color: #181818;
}

.header__top-container {
  padding: 25px 50px 23px 40px;
}

@media screen and (max-width: 768px) {
  .header__top-container {
      padding: 25px 40px 23px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__top-container {
      padding: 16px 26px 16px 16px;
  }
}

.header__logo {
  width: 132px;
  height: 28px;
}

.header__language {
  color: #747474;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  cursor: pointer;
  transition: .5s;
}

.header__language:hover {
  color: #fff;
}

.header__language::after {
  border: medium solid transparent;
  content: "";
  border-color: #747474 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  border-width: 6px;
  position: absolute;
  top: 7px;
  margin-left: 4px;
}

.header__language-items {
  position: absolute;
  background: #747474;
  display: none;
}

.header__language-items_active {
  display: block;
}

.header__language-item {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.header__language-item:hover {
  background: #0c0808;
}

